{% extends "layout.html" %}

{% block head %}
    
{% endblock %}
{% block title %}
    Sign Up | Schoolboard
{% endblock %}

{% block main %}

    <div class="d-flex flex-col justify-content-center mx-0 register-container">
        <form action="{{ url_for('auth.register')}}" method="post" class="register-form p-8 rounded-xl needs-validation"
            novalidate>
            <h3 class="text-4xl">Sign Up</h3>
            <p class="my-2 text-gray-300 text-lg">Create an account to experience digital data entries!</p>
        
            <div class="form-group">
                <label for="username" class="form-label"></label>
                <div class="input-group has-validation">
                    <span class="input-group-text text-lg" id="inputGroupPrepend">@</span>
                    <input type="text" class="form-control text-lg" id="username" name="username" placeholder="Username"
                        aria-describedby="inputGroupPrepend" required minlength="3" maxlength="12" />
                    <div id="validUsernameFeedback" class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="invalidUsernameFeedback" class="invalid-feedback">
                        Please enter a valid username (e.g., name, forename.surname, name.13).
                    </div>
                </div>
        
                <label for="email" class="form-label"></label>
                <input type="email" class="form-control text-lg" id="email" name="email" placeholder="Email Address"
                    aria-describedby="inputGroupPrepend" required />
                <div id="validEmailFeedback" class="valid-feedback">
                    Looks good!
                </div>
                <div id="invalidEmailFeedback" class="invalid-feedback">
                    Please enter a valid email address.
                </div>
        
                <label for="password" class="form-label"></label>
                <input type="password" class="form-control text-lg" id="password" name="password" placeholder="Password"
                    minlength="8" required />
                <div class="progress" style="height: 5px;">
                    <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 10%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain a mix of letters, numbers, and special characters, and
                    must not contain spaces or emojis.
                </div>
                <div id="validFeedback" class="valid-feedback">
                    <!-- Strong Password! -->
                </div>
                <div id="invalidFeedback" class="invalid-feedback">
                    Please enter a password.
                </div>
        
                <label for="confirmation" class="form-label"></label>
                <input type="password" class="form-control text-lg" id="confirmation" name="confirmation"
                    placeholder="Confirm Password" minlength="8" required />
                <div class="progress" style="height: 5px;">
                    <div id="confirmProgressbar" class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" style="width: 10%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div id="confirmationMatchFeedback" class="valid-feedback">
                    <!-- Passwords match! -->
                </div>
                <div id="confirmationNotMatchFeedback" class="invalid-feedback">
                    Passwords do not match.
                </div>
            </div>
        
            <div id="registerAgreeBlock" class="mb-4 mt-3 text-start text-gray-400 text-lg form-label">
                By signing up, you agree to our <a href="#" class="text-blue-500">terms</a> and <a href="#"
                    class="text-blue-500">conditions</a>
            </div>
        
            <div class="row g-2">
                <button type="submit" class="btn btn-success btn-lg mb-2 mt-4 w-100 p-2">Create new account</button>
                <button type="button" onclick="myNavigation('/login')" class="btn btn-primary btn-lg w-100 p-2">Log In</button>
            </div>
        </form>
    </div>
        
    <script src="{{ url_for('static', filename='js/Register.js') }}"></script>
{% endblock%}